.navbar {
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    height: 40px;
    width: 45px;
    margin: 5px 0 0 5px;
    cursor: pointer;
}

.logo:hover {
    width: 50px;
    animation: shake 0.75s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
      
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
        transform: translate3d(-3px, 0, 0);
    }
    
    40%, 60% {
        transform: translate3d(3px, 0, 0);
    }
}

.github-logo {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.session-btns a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.session-btns {
    flex-direction: row;
    align-items: center;
    margin: 10px 20px 0 0;
}

.session-btns a:hover {
    color: #98abf3;
}

.session-btns a:last-child {
    margin-left: 10px;
}

.open-queue-btn, .logout-btn {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.open-queue-btn:hover, .logout-btn:hover {
    color: #98abf3;
}