

.populars {
  /* padding: 50px 7% 0px 7%; */
  padding: 10px 200px;
}

.populars *{
  font-family: 'Montserrat', sans-serif;
}
/* .info-block {
  height: 100%;
} */

.Popular-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: minmax(200px, auto);
  grid-auto-flow: dense;
  grid-gap: 1em;
}

/* .Popular-list > li:nth-child(odd) {
  background-color: aqua;
} */

.Popular-list > li {
  height: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #404040;
  font-size: 20px;
  transition: 0.8s;
  color: #fff;
  display: flex;
  place-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.34), 0 1px 5px 0 rgba(0,0,0,0.32), 0 3px 1px -2px rgba(0,0,0,0.4);
}

.Popular-list img {
  position: relative;
  max-width: 150px;
  height: 100%;
  object-fit: contain;
}

.Popular-list .show-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  width: 250px;
  text-align: center;
  justify-content: space-around;
  padding: 8px;
}

.pop-title, .pop-rating, .pop-count {
  font-size: 14px;
  font-weight: bold;
}

.pop-count {
  line-height: 18px;
}

.pop-pop {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* .Popular-list > li:nth-child(1) {
  grid-column: span 2;
  grid-column: span 1;
  grid-row: span 1;
  
}

.Popular-list > li:nth-child(1) .pop-title{
  font-weight: bold;
  font-size: 35px;
} */


/* .Popular-list > li:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
  flex-direction: column;
}

.Popular-list > li:nth-child(2) .pop-title{
    font-weight: bold;
  font-size: 35px;
  font-family: 'Rubik', sans-serif !important;
}

.Popular-list > li:nth-child(3) {
  grid-column: span 2;
  grid-row: span 1;
}
.Popular-list > li:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
  flex-direction: column;
}

.Popular-list > li:nth-child(4) .pop-title{
    font-weight: bold;
  font-size: 35px;
} */

/* .Popular-list > li:nth-child(5) {
  grid-column: span 1;
  grid-row: span 2;
  flex-direction: column;
}

.Popular-list > li:nth-child(5) .pop-title{
    font-weight: bold;
  font-size: 35px;
} */

/* .Popular-list > li:nth-child(6) {
  grid-column: span 1;
  grid-row: span 2;
}
.Popular-list > li:nth-child(7) {
  grid-column: span 2;
  grid-row: span 1;
} */

/* .Popular-list > li:nth-child(8) {
  border: 1px solid red;
  grid-column: span 1;
  grid-row: span 2;
  flex-direction: column;
} */
/* .Popular-list > li:nth-child(8) .pop-title{
  font-weight: bold;
  font-size: 35px;
} */

.title-big{
  font-weight: bold;
  font-size: 35px;
}

.title-small{
  font-weight: bold;
  font-size: 20px;
}

.score{

}

.popularity{

}


@media (max-width: 650px) {
  .Popular-list {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }

  .Popular-list > li{
    grid-row: unset !important;
    grid-column: unset !important;
    flex-direction: row !important;
    min-width: 220px;
  }
}

@media (max-width: 480px) {
  .populars {
    display: none;
  }
}
