.signup-form-container {
    display: flex;
    justify-content: center;
}

.user-auth-logo {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 110px 0 36px 0;
    color: #fff;
}

.signup-form {
    background: darkgray;
    padding: 16px;
    border-radius: 5px;
}

.signup-form input{
    margin: 10px;
}

.signup-form submit {
    margin: 10px;
    border-radius: 4px;
    background: #23272a;
    color: white;
    border: none;
}